.route-login button {
    height: 3rem;
}

.route-login {
    padding: 1rem;
}

.route-login button {
    height: 4rem;
    min-width: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 8px;
    border: 1px solid black;

    border-radius: 50px;
    color: white;
    background-color: rgba(100,70,250,0.8);

    &:hover {
        filter: brightness(0.6);
    }

    & svg {
        width: fit-content;
    }

    & span {
        font-size: 1rem;
    }
}
