.route-friends {
    & h1 {
        margin-bottom: 0.4em;
    }

    & h2 {
        margin-bottom: 0.2em;
        margin-top: 2rem;
        border-bottom: 1px solid gray;
    }

    & p {
        margin-top: 0;
    }

    & span.button-two {
        margin-left: 1rem;
    }
}
