.route-whoami {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 50vh;
    grid-gap: 1rem;
    height: fit-content;

    & > div {
        height: fit-content;
        max-height: 100%;
        display: flex;
        justify-content: center;
    }

    & .whoami-avatar {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
    }
}

.profile-info {
    & dt {
        margin-top: 1rem;
    }
}
