:root {
    --button-color: #4281CB;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.form-stuff {
    & button {
        margin-right: 1rem;
        position: relative;
        color: white;
        background-color: var(--button-color);
        padding: 0.5rem 2rem;
        font-size: 1rem;
        border: none;

        &:hover {
            opacity: 0.6;
        }

        &:disabled {
            opacity: 0.6;
        }

        &.spinning {
            opacity: 0.6;

            & .btn-content {
                visibility: hidden;
            }

            &:hover {
                cursor: initial;
            }

            &::after {
                content: "";
                background: transparent;
                box-sizing: border-box;
                position: absolute;
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                border-radius: 50%;
                border-top: 2px solid white;
                border-right: 2px solid transparent;
                animation: spinner 0.6s linear infinite;
            }
        }
    }

}
