@keyframes spinner {
    to {transform: rotate(360deg);}
}

button.button-two {
    color: green;
    /* background: none; */
    /* background-color: #7eff7e; */
    outline: 1px solid;
    padding: 0.3rem 0.5rem;
    background-color: white;
    font-size: 1rem;
    transition: 0.2s outline;
    position: relative;

    &:hover {
        text-decoration: underline;
        outline: 2px solid;
    }

    &.spinning {
        opacity: 0.6;

        & .btn-content {
            visibility: hidden;
        }

        &:hover {
            cursor: initial;
        }

        &::after {
            content: "";
            background: transparent;
            box-sizing: border-box;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 50%;
            border-top: 2px solid black;
            border-right: 2px solid transparent;
            animation: spinner 0.6s linear infinite;
        }
    }
}
