.close-btn {
    padding: 0;
    display: inline-block!important;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;

    & svg {
        max-width: 100%;
        max-height: 100%;
        fill: gray;
    }
}
