.editable-image {
    vertical-align: middle;
    margin-right: 1rem;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    max-width: 100%;

    & img {
        border: 1px solid;
        border-radius: 50%;
        object-fit: cover;
        transition: outline 0.2s;
        outline: 0px solid;

        &:hover {
            outline: 3px solid;
        }
    }
}

label.editable-image {
    display: flex;
    width: fit-content;
    justify-content: center;
}

span.label-text {
    margin-left: 1rem;
}

.avatar-input {
    display: none;
}
