.toast {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 1rem;
    position: fixed;
    padding: 1rem;
    width: calc(100vw - 5rem);

    border: 1px solid rgba(231, 237, 241, 1);
    box-shadow: 0px 10px 40px -20px rgb(0 0 0 / 40%), 0 0 1px #a2a9b1;
    background-color: white;
}
