body {
    background-color: pink;
    margin: 0;
    font-family: sans-serif;

    & button {
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
        }
    }
}

.content {
    margin: 0.5rem;
}

.head-part {
    display: flex;
    border-bottom: 1px solid black;

    & .avatar {
        display: flex;
        align-items: baseline;
        text-decoration: none;
        width: 4rem;

        &:hover {
            text-decoration: underline;
        }

        & img {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border-radius: 50%;
            outline: 1px solid;
            transition: outline 0.2s;

            &:hover {
                text-decoration: underline;
                outline: 3px solid;
            }
        }

        &.active {
            & img {
                outline: 3px solid cyan;
                border: none;
            }
        }
    }

    & figure {
        margin: 0.4rem 0.5rem 0.2rem 0.5rem;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem 0;
    width: 100%;

    & a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }

        &.active {
            border-bottom: 2px solid;
        }
    }
}

@media (max-width: 600px) {
    nav {
        display: none;
    }

    .head-part .avatar {
        align-items: center;
    }
}

.route-whoami {
    & dt {
        text-decoration: underline;
    }
}

/*****************
  overrides
******************/

.hamburger-wrapper {
    width: 95%;
    position: fixed;
}
